{
  "trailingComma": "all",
  "tabWidth": 4,
  "semi": false,
  "singleQuote": true,
  "printWidth": 120,
  "overrides": [
    {
      "files": ["*.json", ".prettierrc", ".babelrc", ".eslintrc"],
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": ["paths.ts", "apis.ts", "urls.ts"],
      "options": {
        "printWidth": 140
      }
    }
  ]
}
